@import "./src/components/Variables.scss";

.border {
  border: 1px solid $color_11;
}

.click {
  background-color: $color_1;
  color: $color_10;
  cursor: pointer;
  padding: 0;
  text-align: left;
  text-decoration: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.accordion-header {
  color: $color_12;
  font-family: $font_family_1;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.accordion-text {
  color: $color_12;
  font-family: $font_family_1;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}