@import "./src/components/Mixin.scss";

.nordpass-hero-image {
  @include breakpoint(mobile) {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @include breakpoint(medium) {
    display: flex;
    min-width: 500px;
    max-width: 600px;
    margin-top: 2rem;
  }
}