@import "./src/components/Mixin.scss";

.navbar {
  @include breakpoint(mobile) {
    .nav-items,
    .nav-button {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .nav-items,
    .nav-button {
      display: block;
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 60px;
  border-bottom: solid 0.5px grey;
}

.nav-link {
  font-family: Gordita, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #151922;
  padding: 0 .8rem 0 .8rem;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.nav-items-button {
  display: flex;
  position: fixed;
  top: 18px;
  right: 5%;
}

.navbar-logo {
  display: flex;
  position: fixed;
  left: 5%;
  margin-left: 0.5rem;

  a {
    color: #151922;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.nav-items {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  a {
    color: #151922;
    text-decoration: none;

    &:hover {
      color: #43A5A1;
      text-decoration: none;
    }

    &:active {
      color: #43A5A1;
      text-decoration: none;
    }
  }
}

a {
  text-decoration: none;
}

.nav-button {
  border: 0;
  background: #43A5A1;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 15px;
  margin-top: -4px;
  color: white;

  &:hover {
    background: #80CBC8;
    text-decoration: none;
  }

  &:active {
    background: #80CBC8;
    text-decoration: none;
  }
}

.nav-toggle-button {
  @include breakpoint(medium) {
    display: none;
  }
}

.nav-logo {
  @include breakpoint(medium) {
    margin-left: 0;
  }
}
