$color_1: #FFFFFF;
$color_2: #43A5A1;
$color_3: #EDF8F7;
$color_4: #F64F64;
$color_5: #383C43;
$color_6: #E8E8E9;
$color_7: #80CBC8;
$color_8: #B9BABD;
$color_9: #151922;
$color_10: #444444;
$color_11: #F8F8F8;
$color_12: #373B42;
$color_13: #B9BABD;
$font_family_1: 'Gordita', Helvetica Neue, Helvetica, Arial, sans-serif;
