@import "./src/components/Variables.scss";

p {
  font-size: 12px;
  line-height: 20px;
}

.engage {
  color: $color_13;
}

a {
  color: $color_5;
}

.copyright {
  font-size: 10px;
  line-height: 13px;
}