@import "./src/components/Mixin.scss";

.business-grid-left {
  width: 80%;
  grid-area: 4 / 1 / 5 / 2;
}

.business-grid-right {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid #B9BABD;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1rem 1rem 1rem 0;
    padding: 0.7rem;
    font-family: 'Gordita', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
  }

  textarea {
    border: 1px solid #B9BABD;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1rem 1rem 0.5rem 0;
    padding: 0.7rem 0.7rem 5rem 0.7rem;
    resize: none;
    font-family: 'Gordita', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
  }
}

.form-details {
  font-size: 16px;
  line-height: 28px;
}

.form-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0.5rem 1rem 1.5rem 0;
}
