@import "./src/components/Variables.scss";
@import "./src/components/Mixin.scss";

form {
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid $color_8;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1rem 1rem 0 0;
    padding: 0.7rem;
    font-family: $font_family_1;
    font-size: 14px;
    line-height: 19px;
  }

  textarea {
    border: 1px solid $color_8;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1rem 1rem 0.5rem 0;
    padding: 0.7rem 0.7rem 5rem 0.7rem;
    resize: none;
    font-family: $font_family_1;
    font-size: 14px;
    line-height: 19px;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color_4;
  }

  p::before {
    display: inline;
    content: "⚠ ";
    font-weight: bold;
  }
}

.form-details {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.form-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0.5rem 1rem 1.5rem 0;

  a{
    text-decoration: underline;
  }
}

.nordpass-business-image {
  @include breakpoint(mobile) {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  @include breakpoint(medium) {
    display: flex;
    min-width: 500px;
    max-width: 550px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  @include breakpoint(large) {
    display: flex;
    min-width: 600px;
    max-width: inherit;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}